<html>
<head>
  <meta charset="UTF-8">
  <title>Message Thread</title>
  <link rel="stylesheet" href="/components/base/base.css">
  <link rel="stylesheet" href="/components/gaia-fonts/style.css">
  <link rel="stylesheet" href="/components/gaia-theme/gaia-theme.css">

  <link rel="stylesheet" href="thread.css">

  <script defer src="/views/app_config.js"></script>

  <script defer src="/components/gaia-header/dist/gaia-header.js"></script>

  <script defer src="/components/pipe-core/pipe.js"></script>

  <script defer src="thread.js"></script>
</head>
 <body class="theme-communications">
  <gaia-header>
    <h1></h1>
    <a></a>
    <button data-icon="settings"></button>
  </gaia-header>
  <section id="message-list"></section>
</body>
</html>
