<html>
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="/components/base/base.css">
  <link rel="stylesheet" href="/components/gaia-fonts/style.css">
  <link rel="stylesheet" href="/components/gaia-theme/gaia-theme.css">

  <script defer src="/views/app_config.js"></script>

  <script defer src="/components/gaia-header/dist/gaia-header.js"></script>

  <script defer src="/components/pipe-core/pipe.js"></script>

  <script defer src="settings.js"></script>
</head>
 <body class="theme-communications">
  <gaia-header action="back">
    <h1>Settings</h1>
  </gaia-header>
  <section>
    Edit some settings...
  </section>
</body>
</html>
